---
layout: base
title: Apollo - IMS Design Resource Base
---
{% assign data = site.data.detailedContent %}

<div class="row">

  {% include left-panel.html data=data.left-panel %}

  {% include detailed-content-header.html data=data.detailed-content-header %}

  {% include lego-quote-module.html data=data.lego-quote-module %}

  {% include lego-image-right.html data=data.lego-image-right %}

  {% include lego-module-head.html data=data.lego-module-head %}

  <div class="content pad-200"></div>

  {% include lego-module-head-img.html data=data.lego-module-head-img %}

  <div class="content pad-200"></div>

  {% include lego-block-3.html data=data.lego-block-3 %}

  <div class="content pad-200"></div>

  {% include lego-block-2.html data=data.lego-block-2 %}

  <div class="content pad-200"></div>

  {% include lego-overlap-card.html data=data.lego-overlap-card %}

  <div class="content pad-200"></div>

  {% include lego-full-img-card.html data=data.lego-full-img-card %}

  <div class="content pad-100"></div>

  {% include lego-half-img-card.html data=data.lego-half-img-card %}

  <div class="content pad-50"></div>


    <!-- <div class="content">
      <div class="content-padding">
        <div class="lego-settings">
          <div class="row">
              <div class="col-md-6">
                <h2 class="settings-title">Settings</h2>
                <h3 class="settings-summary">There are numerous success stories you will hear about businesses making it good on the internet . The troubling thing is, there are maybe a tenfold or even a hundredfold of stories inconsistent to theirs. Many have unsuccessfully launched a business venture that is internet based but only a handful shall succeed.</h3>
              </div>
              <div class="col-md-6">
                <table class="table settings-table">
                  <tbody>
                    <tr>
                      <td>
                        Ambient
                      </td>
                      <td>
                        100%
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Diffuse
                      </td>
                      <td>
                        75%
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Specular Intensity
                      </td>
                      <td>
                        50%
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Specular Shininess
                      </td>
                      <td>
                        5%
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Metal
                      </td>
                      <td>
                        60%
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div> -->

{% include lego-note.html data=data.lego-note %}

<div class="content pad-100"></div>

<div class="content"><hr></div>

<div class="content pad-75"></div>

{% include downloads.html data=data.downloads %}

{% include footer.html %}

</div>
