---
layout: base
title: Apollo - Destroying Data
---
{% assign data = site.data.destroying-data %}

<div class="row">

  {% include left-panel.html data=data.left-panel %}

  {% include detailed-content-header.html data=data.detailed-content-header %}

  <div class="content pad-100"></div>

  {% include lego-module-head.html data=data.ease-of-deletion %}

  <div class="content pad-50"></div>

  {% include lego-module-head.html data=data.reducing-fear %}

  <div class="content pad-50"></div>

  {% include lego-module-head.html data=data.reducing-annoyance %}

  <div class="content pad-25"></div>

  {% include lego-note.html data=data.modal-note %}

  {% include footer.html %}

</div>
