.drb-page {

  .panel-left {
    background-color: black;
    width: 33.3%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1100;
    overflow:hidden;

    h1,h2,h3,h4,h5,p,span {
      color: white;
      // -webkit-font-smoothing: antialiased;
    }
  }

  .panel-background {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .panel-background-image {
    width: 120%;
    height: 120%;
    position: absolute;
    top: -10%;
    left: -10%;
  }

  .panel-trans {
    background-color: rgba(31,42,49,.82);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .panel-main {
    height: 100%;
    width: 100%;
    position: absolute;
  }


  .panel-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    span {
      font-size: 12px;
      font-weight: $font-light;
      a {
        color: white;
      }
    }
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .panel-icon{
    padding: 2rem;
    &.icon-menu {
      font-size: $display4-size;
    }
    &.icon-close {
      font-size: 2rem;
    }
  }

  .panel-content {
    position: absolute;
    top: 45%;
    width: 100%;
  }

  .panel-tagline {
    text-align: right;
    font-family: $merriweather;
    width: 66%;
    margin-left: 24%;
    h1 {
      font-size: 42px;
      margin: 0;
      padding: 0;
      margin: 0 0 5% 0;
    }
  }

  .panel-summary {
    font-family: $merriweather;
    text-align: right;
    width: 70%;
    margin-left: 20%;
    margin-right: 10%;
    span {
      font-size: 12px;
      margin: 0;
      padding: 0;
    }
  }

  .panel-baseline {
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
    margin-bottom: 5%;
    a {
      color: white;
    }

    hr {
      width: 95%;
      border: 0;
      height: 1px;
      background: rgba(255,255,255,.3);
    }

    span {
      padding: 0 5px 0px 0px;
      margin: 0;
      font-size: 12px;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
}
