body {
  overflow-x: hidden;
}

.drb-page {

  .content {
    margin-left: 33.3%;
    width: 66.6%;
    box-sizing: border-box;
    z-index: 0;
    h1,h2,h3,h4,h5,h6,span,p, li {
      color: #435964;
      -webkit-font-smoothing: antialiased;
    }
    .hero {
      font-size: 64px;
      font-family: $merriweather;
    }
    h1, h2, h3, h5 {
      font-family: $merriweather;
    }
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 24px;
      line-height: 1.8;
    }
    h3 {
      font-size: 16px;
      line-height: 2;
    }
    h4 {
      font-size: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family: $proxima-regular;
    }
    p, li {
      font-family: $merriweather;
      font-size: 16px;
      line-height: 2;
    }

    .tab-bar {
      li {
        font-family: $proxima-regular !important;
      }
    }
  }

  video {
      width: 90%;
      margin-left: 5%;
      height: auto;
  }

  .merriweather {
    font-family: $merriweather !important;
  }

  .proxima-nova {
    font-family: $proxima-regular !important;
  }

    //                              //
   //         Layout Styles        //
  //                              //
  .row {
    margin: 0;
    padding: 0;
  }

  .full-height {
    height: 100%;
  }

  .fixed {
    position: fixed;
  }

  .subsection-page-header {
    border-bottom: 1px solid $charcoal-lighter;
  }

  .content-padding {
    padding-left: 7.5%;
    padding-right: 11.25%;
  }

  .section-padding {
    padding: 12% 0%;
  }

  .pad-200 {
    padding: 100px 0;
  }

  .pad-100 {
    padding: 50px 0;
  }

  .pad-75 {
    padding: 37.5px 0;
  }

  .pad-50 {
    padding: 25px 0;
  }

  .pad-25 {
    padding: 12.5px 0;
  }

  .pad-10 {
    padding: 5px 0;
  }

  .content-head {
    margin-bottom: 75px;
  }

  .section-padding {
    padding: 16% 0%;
  }

  .subsection-padding {
    padding: 8% 0%;
  }

   .subsection-padding-bottom {
     padding-bottom: 8%;
   }

   .subsection-padding-top {
     padding-top: 8%;
   }

  .watermark {
    position: fixed;
    z-index: 1000;
    h1 {
      font-size: 12rem;
      color: rgba(185,184,183,.25);
      font-family: $merriweather;
    }
  }

  .mark {
    position: absolute;
    z-index: 1500;
  }

  .content-header-image {
    position: absolute;
    top: 40px;
    left: -10%;
  }

  .download-hr {
    background-color: $charcoal-lighter;
    height: 2px;
    border: none;
  }

  blockquote {
    border-left: 2px solid $teal-light;
    padding: 0 20px;
    margin-left: 10px;
    p {
      font-size: $font-size-sm;
      font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
    }
  }

    //                             //
   //        Color Styles         //
  //                             //

  .charcoal {
    color: $charcoal;
  }

  .blue {
    color: $blue;
  }

  .white {
    color: white !important;
  }

  .neutral-bg {
    background-color: $neutral-lighter;
  }

  .trans-layer {
    background-color: rgba(0,0,0,.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .alt-bg {
    background-color: #f1f1f1;
  }

  .blue-hr {
    background-color: $blue !important;
  }

  .text-underline-hr {
    background-color: $charcoal-light !important;
    height: 1px !important;
    width: 100% !important;
    margin-top: 10px !important;
  }


  .content-section-header {
    .section-header-text {
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: $font-size-sm;
    }
    & hr {
      background-color: $teal;
      height: 2px;
      border: none;
      width: 35px;
      position: absolute;
      top: 35px;
    }
    .section-header-tagline {
      margin-bottom: 40px;
      line-height: 1.5rem;
      font-weight: 400;
      font-family: $merriweather;
      font-size: $font-size-lg;
    }
    .section-header-summary {
      line-height: 1.5rem;
      font-size: $font-size-sm;
      font-family: $merriweather;
    }
  }

  .content-subsection-header {
    h6 {
      font-weight: 400;
      span {
        font-weight: 300;
      }
    }
    .subsection-header-text {
      text-transform: uppercase;
      margin: 10px 0;
      font-size: $font-size-sm;
      font-weight: 600;
      font-family: $proxima-regular !important;
    }
    & hr {
      background-color: $teal;
      height: 2px;
      border: none;
      width: 35px;
      margin:0 0 16px 0;
    }
    .subsection-header-tagline {
      margin-bottom: 4%;
      line-height: 36px;
      font-weight: 400;
      font-family: $merriweather;
    }
    .subsection-header-summary {
      line-height: 1.5rem;
      font-size: $font-size-xs;
      font-family: $merriweather;
    }
  }

  .section-summary {
    font-family: $merriweather;
    font-size: $font-size-sm;
    line-height: 2rem;
  }

    //                       //
   //     Children-Cards    //
  //                       //
  .children-card {
    height: 95%;
  }

  .children-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .children-card-headline {
      text-transform: uppercase;
      padding: 0 20px;
      font-weight: 600;
      margin-left: 20px;
      margin-top: 16px;
      font-size: 14px !important;
      letter-spacing: .7px;
    }
    span {
      margin-left: -20px;
      margin-right: -100px;
      font-size: $display1-size;
      opacity: .2;
      width: auto;
    }
  }

  .children-card-summary {
    padding: 0 25px 51px 25px;
  }



  //                              //
 //         Page Footer          //
//                              //

  .footer {
    background-color: $neutral;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-top: 100px;
  }

  .footer-text {
    padding-left: 25%;
    .footer-text-style {
      font-family: 'Proxima Nova', Arial, sans-serif;
      color: #32383a;
      font-size: 17px;
      font-weight: bold;
      opacity: .5;
    }
  }
  .footer-icons {
    padding-right: 30%;
    img {
      margin: 0px 25px 0 25px;
      opacity: .5;
    }
  }



    //                              //
   // Left Page Info Panel Mobile  //
  //                              //

  @media (max-width: 769px) {
    .panel-left {
      width: 100% !important;
      height: 800px !important;
      position: relative;
    }
    .content {
      margin-left: 0;
      width: 100%;
    }
    .content-padding {
      padding: 0 50px;
    }
    .panel-main {
    }
    .panel-icon {
      padding: 1rem;
    }
    .panel-tagline {
      h1 {
        font-size: 2.7rem;
      }
    }
    .panel-baseline {
      display: none;
    }
    .watermark {
      display: none;
    }
  }



  .font-download-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    span {
      color: white;
      margin: 0 auto;
      font-size: $font-size-h3;
      padding: 0;
    }
  }

  .font-download-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid $charcoal-lighter;
    border-left: none;
    box-sizing: border-box;
    span:first-child {
      padding: 10px 0 0 10px;
    }
    span:last-child {
      padding: 0 0 10px 10px;
      font-size: $font-size-xs;
      color: $charcoal-light;
    }
  }


  @media (max-width: 544px) {
    .content-padding {
      padding: 0 25px;
    }
    .panel-left {
      width: 100% !important;
      height: 500px !important;
      position: relative;
      .panel-summary {
        bottom: 20%;
      }
    }
  }

  @media (max-width: 768px) {
    .content-header-image {
      display: none;
    }
  }

}


.hide {
  display: none;
}
