
  $merriweather: 'Merriweather', Georgia, serif;
  $proxima-regular: 'Proxima Nova', Arial, sans-serif;

  $phone: "(max-width: 767px)";
  $tablet: "(min-width:768px) and (max-width: 1023px)";
  $desktop: "min-width: 1024px";
