<div class="content alt-bg">
  <div class="content-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="detailed-content-header">
          <h4>{{ include.data.headline }}</h4>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2 class="detailed-content-head-tagline">{{ include.data.tagline }}</h2>
        <h3 class="detailed-content-head-summary">{{ include.data.summary }}</h3>
      </div>
      <div class="col-md-3 col-md-offset-1 detailed-content-head-img-container">
        <img class="detailed-content-head-img img-fluid {{ include.data.headerImgClass }}" src="{{ include.data.headerImg }}" alt="{{ include.data.headerImgAlt }}" />
      </div>
    </div>
  </div>
</div>

<div class="content">
    <div class="detailed-content-sub-menu">
      <div class="content-padding">
        <div class="row">
          <div class="col-md-12">
            <em><span class="merriweather">Contents</span></em>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="sub-menu-list">
              {% for item in include.data.contentList %}
              <a href="#{{ item.id }}" class="smooth-scroll"><h3 class="merriweather">{{ item.name }}</h3></a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
