<div class="panel-left fixed">
  <div class="panel-background">
    <img src="{{ include.data.bgImg }}" alt="{{ include.data.bgImgAlt }}" class="panel-background-image anm" data-speed-x="1" data-speed-y="1">
    <div class="panel-trans"></div>
  </div>
  <div class="panel-main">
    <section class="panel-head">
        <span class="icon icon-menu panel-icon panel-open"></span>
        <span><a href="{{ include.data.headerLink }}">{{ include.data.siteSection }}</a></span>
    </section>
    <div class="panel-content">
      <section class="panel-tagline">
        <h1>{{ include.data.pageTitle }}</h1>
      </section>
      <section class="panel-summary">
        <span>{{ include.data.pageSummary }}</span>
      </section>
    </div>
    <section class="panel-baseline">
      <hr>
      <span class="left"><span class="icon icon-chevron-left"></span> <a href="{{ include.data.prevLink }}">{{ include.data.prevPage }}</a></span>
      <span class="right"><a href="{{ include.data.nextLink }}">{{ include.data.nextPage }}</a> <span class="icon icon-chevron-right"></span></span>
    </section>
  </div>
</div>
