<div class="content">
  <div class="content-padding">
    <div class="col-md-12 quote-module-lego">
      <div class="subsection-padding">
        <div class="quote">
          <div class="row">
            <div class="col-md-6 col-sm-8 quote-box card">
              <h3 class="merriweather">{{ include.data.textContent }}</h3>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-4">
              <img class="img-fluid" src="{{ include.data.quoteImg }}" alt="{{ include.data.quoteImgAlt }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
