<div class="content">
  <div class="content-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="warning-block">
          <div class="warning-block-icon">
            <span class="icon icon-alert-circle white"></span>
          </div>
          <div class="warning-block-text">
            <h2 class="warning-text-title">{{ include.data.title }}</h2>
            <h5 class="warning-text-info">{{ include.data.note }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
