<div class="content alt-bg">
  <div class="watermark section-watermark anm" data-speed-x="1" data-speed-y="1">
    <h1>{{ include.data.watermark }}</h1>
  </div>
  <div class="content-padding">
    <div class="section-header">
      <div class="section-headline">
        <span>{{ include.data.ptX }}</span>
        <hr>
        <h4 class="section-head-title">{{ include.data.title }}</h4>
        <h2 class="section-head-tagline">{{ include.data.tagline }}</h2>
        <h3 class="section-head-summary">{{ include.data.summary }}</h3>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-padding">
    <div class="section-quote-module">
      <div class="section-quote">
        <div class="row">
          <div class="col-md-6 col-sm-8 quote-box card">
            <h3 class="merriweather">"{{ include.data.quote }}"</h3>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-4">
            <img class="img-fluid" src="{{ include.data.quoteImg }}" alt="quoteImgAlt">
          </div>
        </div>
      </div>
    </div>
</div>
</div>
