---
layout: base
title: Apollo Style Guide
---
{% assign data = site.data.style-guide %}

<div class="row">

  {% include left-panel.html data=data.left-panel %}

  {% include subsection-header.html data=data.subsection-header %}

  <div class="content pad-100"></div>

  {% include section-content.html data=data.section-content %}

  <div class="content pad-50"></div>

  <div class="content">
    <hr>
  </div>

  <div class="content pad-25"></div>

  {% include downloads.html data=data.downloads %}

  <div class="content pad-50"></div>

  <div class="content">
    <hr>
  </div>

  <div class="pad-100"></div>

  {% include children-cards.html data=data.children-cards %}

  {% include footer.html %}

</div>
