<div class="content" id="{{ include.data.id }}">
  <div class="content-padding">
    <div class="lego-download">
      <div class="row">
        {% for prop in include.data.download %}
          <div class="col-lg-4 col-md-12 pad-y">
            <div class="download-block">
              <div class="download-block-icon">
                <a href="{{ prop.link }}"><span class="icon icon-cloud-download white"></span></a>
              </div>
              <div class="download-block-text">
                <h3 class="download-text-title">{{ prop.fileName }}</h3>
                <h5 class="download-text-info">{{ prop.fileSize }} (.zip)</h5>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
