<div class="content">
  <div class="footer">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-text">
          <p class="footer-text-style">
            &copy;&nbsp;IMS HEALTH
          </p>
        </div>
      </div>
      <div class="col-md-5 text-sm-right">
        <div class="footer-icons">
          <a href="https://twitter.com/imshealth"><img src="/img/twitter.svg" alt="twitter"></a>
          <a href="https://dribbble.com/imshealth"><img src="/img/dribble.svg" alt="dribble"></a>
        </div>
      </div>
    </div>
  </div>
</div>
