<div class="content">
  <div class="content-padding">
    <div class="content-img-overlap">
      <div class="row">
        <div class="col-md-12">
          <div class="back-img-overlap">
            <img src="{{ include.data.img }}" alt="{{ include.data.imgAlt }}">
            <div class="front-img-overlap card">
              <div class="img-overlap-text">
                <h1>{{ include.data.watermark }}</h1>
                <h2>{{ include.data.title }}</h2>
                <h3>{{ include.data.summary }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
