<div class="content">
  <div class="content-padding">
    <div class="top-img-card">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
          <img src="{{ include.data.img }}" alt="{{ include.data.imgAlt }}" class="lego-block-img img-fluid">
          <div class="img-card-text">
            <h2 class="img-card-title">{{ include.data.title }}</h2>
            <h3 class="img-card-summary">{{ include.data.summary }}</h3>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
