<div class="{{ include.menu.class }}">
  {% for item in include.menu.items %}
  <div class="menu-item">
    <hr>
    <a href="{{ item.link }}">
      <span class="menu-item-number">{{ item.number }}</span>
      <div class="main-hr"><hr></div>
      <span class="menu-item-name {{ item.nameClass }}">{{ item.name }}</span>
      {% if item.summary %}
      <div class="row">
        <p class="menu-item-summary">{{ item.summary}}</p>
      </div>

      {% endif %}
    </a>
  </div>
  {% endfor %}
</div>
