<div class="content alt-bg">
  <div class="subsection-watermark">
    <hr>
    <hr>
    <hr>
    <hr>
    <span class="merriweather">{{ include.data.watermark }}</span>
    <span>Apollo</span>
  </div>
  <div class="content-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="subsection-head">
          <h4 class="subsection-headline">{{ include.data.headline }}</h4>
          <hr>
          <h2 class="subsection-tagline">{{ include.data.tagline }}</h2>
          <h3 class="subsection-head-summary">{{ include.data.summary }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-padding">
    <div class="row">
      <div class="col-md-12">
        <img class="subsection-img-head img-fluid" src="{{ include.data.img }}" alt="{{ include.data.imgAlt }}" />
      </div>
    </div>
  </div>
</div>
