---
layout: base
title: Apollo - Shape & Form
---
{% assign data = site.data.shape-form %}

<div class="row">

  {% include left-panel.html data=data.left-panel %}

  <div class="content alt-bg">
    <div class="content-padding">
      <div class="row">
        <div class="col-md-12">
          <div class="detailed-content-header">
            <h4>Shape & Form</h4>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h2 class="detailed-content-head-tagline">Problems look mighty small from 150 miles up</h2>
          <h3 class="detailed-content-head-summary">It suddenly struck me that that tiny pea, pretty and blue, was the Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very small.</h3>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <img class="detailed-content-head-img img-fluid" src="https://source.unsplash.com/random/219x325" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="content">
      <div class="detailed-content-sub-menu">
        <div class="content-padding">
          <div class="row">
            <div class="col-md-12">
              <em><span class="merriweather">Contents</span></em>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="sub-menu-list">
                <a href="#classicalShapes" class="smooth-scroll"><h3 class="merriweather">Classical Shapes</h3></a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="content" id="classicalShapes">
    <div class="content-padding">
      <div class="image-right">
        <div class="row">
          <div class="col-md-6">
            <h3 class="image-right-head">Classical Shapes</h3>
            <h3>We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.</h3>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <img class="image-right-img img-fluid card" src="/img/shape-form/shape-form-1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

</div>
